{% extends 'base.html' %}
{% load static %}

{%block title%}About us{%endblock%}

{%block content%}
<div class="about">
    <div>
        <h1>About us</h1>
    <p>Welcome to [Your Website Name], a platform dedicated to providing students with past questions from various courses and departments in [Your University]. We understand the importance of past questions as a tool for exam preparation, and we want to make it easier for students to access these resources.</p>
    <p>Our team is made up of dedicated students and alumni from various departments who have firsthand experience with the challenges of studying for exams. We have seen the value of past questions in our own academic journeys, and we want to share this knowledge with others.</p>
    <p>Our mission is to provide students with a comprehensive collection of past questions that they can use to prepare for exams. We aim to cover all courses and departments in [Your University], and we are committed to ensuring the authenticity and accuracy of the past questions on our site.</p>
    <p>We believe that education should be accessible to everyone, and that is why our site is completely free to use. We also encourage students to contribute past questions from their own courses and departments to help build our collection and benefit others.</p>
    <p>Thank you for visiting [Your Website Name]. We hope that our site will be a valuable resource for your academic success. If you have any questions or feedback, please do not hesitate to contact us.</p>
    </div>
    <div>
        <img src="{% static '/R.jpg' %}" alt="">
      </div>
</div>
    
{%endblock%}